<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>polo</key>
		<dict>
			<key>name</key>
			<string>Polo杉</string>
			<key>sex</key>
			<string>one</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>CB783E</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>F2E891</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>green</string>
					<key>colorhex</key>
					<string>3C814C</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pink</string>
					<key>colorhex</key>
					<string>C5416E</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>purple</string>
					<key>colorhex</key>
					<string>3B2657</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>ondine</string>
					<key>colorhex</key>
					<string>A0C76F</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>55B6E8</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>9B2129</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>Polo杉</string>
				</dict>
			</array>
		</dict>
		<key>kidl</key>
		<dict>
			<key>name</key>
			<string>童装长袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>CBEBFB</string>
					<key>type</key>
					<string>童装长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>童装长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>D02438</string>
					<key>type</key>
					<string>童装长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FEDA89</string>
					<key>type</key>
					<string>童装长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pick</string>
					<key>colorhex</key>
					<string>FBD5EA</string>
					<key>type</key>
					<string>童装长袖</string>
				</dict>
			</array>
		</dict>
		<key>kids</key>
		<dict>
			<key>name</key>
			<string>童装短袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>FFFFFF</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>51AEDF</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>BFBFC7</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dpl</string>
					<key>colorhex</key>
					<string>EAE0BD</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>FD712C</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pgreen</string>
					<key>colorhex</key>
					<string>DBF8F3</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pick</string>
					<key>colorhex</key>
					<string>F9D7D2</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>violet</string>
					<key>colorhex</key>
					<string>4A2B63</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>童装短袖</string>
				</dict>
			</array>
			<key>sex</key>
			<string>one</string>
		</dict>
		<key>long</key>
		<dict>
			<key>name</key>
			<string>圆领长袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>B2B8BF</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>6EB9E5</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
			</array>
			<key>W</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>B2B8BF</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>

				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>6EB9E5</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
			</array>
		</dict>
		<key>clong</key>
		<dict>
			<key>name</key>
			<string>插肩长袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>violet</string>
					<key>colorhex</key>
					<string>4A2B63</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
			</array>
			<key>W</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>violet</string>
					<key>colorhex</key>
					<string>4A2B63</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>女式长袖</string>
				</dict>
			</array>
		</dict>
		<key>short</key>
		<dict>
			<key>name</key>
			<string>圆领短袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>meteorite</string>
					<key>colorhex</key>
					<string>493267</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>astronaut</string>
					<key>colorhex</key>
					<string>2A366D</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blackr</string>
					<key>colorhex</key>
					<string>23232F</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>bombay</string>
					<key>colorhex</key>
					<string>ACB0B5</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>bronze</string>
					<key>colorhex</key>
					<string>48351A</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>cblue</string>
					<key>colorhex</key>
					<string>5398CD</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>cc</string>
					<key>colorhex</key>
					<string>F2C157</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dbl</string>
					<key>colorhex</key>
					<string>E9DFBD</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dblush</string>
					<key>colorhex</key>
					<string>EC7194</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>fred</string>
					<key>colorhex</key>
					<string>812118</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>genoa</string>
					<key>colorhex</key>
					<string>337868</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>greenyw</string>
					<key>colorhex</key>
					<string>EEE594</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>hblue</string>
					<key>colorhex</key>
					<string>D2EBFB</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>jice</string>
					<key>colorhex</key>
					<string>C7E2E1</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>madang</string>
					<key>colorhex</key>
					<string>B6E2B1</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pgreen</string>
					<key>colorhex</key>
					<string>213C2B</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pizazz</string>
					<key>colorhex</key>
					<string>EE7C3C</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pred</string>
					<key>colorhex</key>
					<string>D33429</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>thistle</string>
					<key>colorhex</key>
					<string>D5BAD4</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>vice</string>
					<key>colorhex</key>
					<string>EFD4CF</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
			</array>
			<key>W</key>
			<array>
				<dict>
					<key>color</key>
					<string>astronaut</string>
					<key>colorhex</key>
					<string>2A366C</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blackr</string>
					<key>colorhex</key>
					<string>22212D</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>bronze</string>
					<key>colorhex</key>
					<string>4C3A1A</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>bunker</string>
					<key>colorhex</key>
					<string>151514</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>cc</string>
					<key>colorhex</key>
					<string>F5C957</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dblush</string>
					<key>colorhex</key>
					<string>ED6988</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>frenchp</string>
					<key>colorhex</key>
					<string>C7E7FC</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>B1B7BE</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>greenyw</string>
					<key>colorhex</key>
					<string>EEE594</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>madang</string>
					<key>colorhex</key>
					<string>B6E2B1</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>meter</string>
					<key>colorhex</key>
					<string>4E336A</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>oyster</string>
					<key>colorhex</key>
					<string>D2EEEC</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pblue</string>
					<key>colorhex</key>
					<string>5CA7DB</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pearll</string>
					<key>colorhex</key>
					<string>EBE2C4</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pectra</string>
					<key>colorhex</key>
					<string>37654E</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pizazz</string>
					<key>colorhex</key>
					<string>EC7538</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>CF3328</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>remy</string>
					<key>colorhex</key>
					<string>F3D6CF</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>spectra</string>
					<key>colorhex</key>
					<string>367C6C</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>spectra</string>
					<key>colorhex</key>
					<string>367C6C</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>thistle</string>
					<key>colorhex</key>
					<string>D6BAD3</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
			</array>
		</dict>
		<key>cshort</key>
		<dict>
			<key>name</key>
			<string>插肩短袖</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>男式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>CB5827</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>violet</string>
					<key>colorhex</key>
					<string>25315D</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>FFF29C</string>
					<key>type</key>
					<string>男式长袖</string>
				</dict>
			</array>
			<key>W</key>
			<array>
				<!--<dict>-->
				<!--<key>color</key>-->
				<!--<string>black</string>-->
				<!--<key>colorhex</key>-->
				<!--<string>000000</string>-->
				<!--<key>type</key>-->
				<!--<string>女式短袖</string>-->
				<!--</dict>-->
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>DB1D20</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>CB5827</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dblue</string>
					<key>colorhex</key>
					<string>25315D</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>green</string>
					<key>colorhex</key>
					<string>32735D</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>5EAAD9</string>
					<key>type</key>
					<string>女式短袖</string>
				</dict>
			</array>
		</dict>
		<key>v</key>
		<dict>
			<key>name</key>
			<string>v领</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>男式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pink</string>
					<key>colorhex</key>
					<string>F9D7D2</string>
					<key>type</key>
					<string>男式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>CF3328</string>
					<key>type</key>
					<string>男式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>男式v领</string>
				</dict>
			</array>
			<key>W</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>女式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pink</string>
					<key>colorhex</key>
					<string>F9D7D2</string>
					<key>type</key>
					<string>女式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>CF3328</string>
					<key>type</key>
					<string>女式v领</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>女式v领</string>
				</dict>
			</array>
		</dict>
		<key>baseball</key>
		<dict>
			<key>name</key>
			<string>棒球服</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>54A3CC</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>B2B8BF</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>B02519</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>691F25</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
				<dict>
					<key>color</key>
					<string>white</string>
					<key>colorhex</key>
					<string>ffffff</string>
					<key>type</key>
					<string>棒球服</string>
				</dict>
			</array>
		</dict>
		<key>sweater</key>
		<dict>
			<key>name</key>
			<string>卫衣</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>426BBD</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dblue</string>
					<key>colorhex</key>
					<string>191C2B</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>999FA6</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>mint</string>
					<key>colorhex</key>
					<string>53AE88</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>EB7D3A</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pblue</string>
					<key>colorhex</key>
					<string>58A2D8</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pink</string>
					<key>colorhex</key>
					<string>DABBC5</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>B02519</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>E0C05A</string>
					<key>type</key>
					<string>卫衣</string>
				</dict>
			</array>
		</dict>
		<key>hoodie</key>
		<dict>
			<key>name</key>
			<string>连帽卫衣</string>
			<key>M</key>
			<array>
				<dict>
					<key>color</key>
					<string>black</string>
					<key>colorhex</key>
					<string>000000</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>blue</string>
					<key>colorhex</key>
					<string>426BBD</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>dblue</string>
					<key>colorhex</key>
					<string>191C2B</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>gray</string>
					<key>colorhex</key>
					<string>999FA6</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>mint</string>
					<key>colorhex</key>
					<string>53AE88</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>orange</string>
					<key>colorhex</key>
					<string>EB7D3A</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pblue</string>
					<key>colorhex</key>
					<string>58A2D8</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>pink</string>
					<key>colorhex</key>
					<string>DABBC5</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>red</string>
					<key>colorhex</key>
					<string>B02519</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
				<dict>
					<key>color</key>
					<string>yellow</string>
					<key>colorhex</key>
					<string>E0C05A</string>
					<key>type</key>
					<string>连帽卫衣</string>
				</dict>
			</array>
		</dict>
	</dict>
</plist>
