<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yf.creatorshirt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.MainActivity" />
        <activity
            android:name=".mvp.ui.activity.DesignActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvp.ui.activity.DetailDesignActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".mvp.ui.activity.ChoiceSizeActivity" />
        <activity
            android:name=".mvp.ui.activity.MyOrderActivity"
            android:label="@string/title_activity_my_order"
            android:theme="@style/AppTheme" />
        <activity android:name=".mvp.ui.activity.AddressActivity" />
        <activity android:name=".mvp.ui.activity.EditAddressActivity" />
        <activity android:name=".mvp.ui.activity.AllOrderActivity" />
        <activity android:name=".mvp.ui.activity.SuccessPayActivity" />
        <activity android:name=".mvp.ui.activity.DetailOrderActivity" />
        <activity android:name=".mvp.ui.activity.UserCenterActivity" />
        <activity android:name=".mvp.ui.activity.MyDesignActivity" />
        <activity
            android:name=".mvp.ui.activity.PermissionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".mvp.ui.activity.EditUserActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${file_authorities}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 微信支付 -->
        <activity
            android:name=".pay.weixin.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity=".pay.weixin.WXPayCallbackActivity" />


        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

    </application>

</manifest>